<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758582440413-nl7g8b39654fcf3ae9j8fnbhkub8gg0u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758582440413-nl7g8b39654fcf3ae9j8fnbhkub8gg0u</string>
	<key>API_KEY</key>
	<string>AIzaSyBa4m08jPki9ZBwOJbvKf03kLPNeEeDKCM</string>
	<key>GCM_SENDER_ID</key>
	<string>758582440413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.smartpmis.roit.develop</string>
	<key>PROJECT_ID</key>
	<string>roit-smartpmis-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>roit-smartpmis-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758582440413:ios:92f08689b56aa90c558634</string>
</dict>
</plist>